<h1>All</h1>
<table class="table">
  <thead>
    <tr>
      <td>
        From:
      </td>
      <td>
        Subject
      </td>
      <td>
        Folder
      </td>
    </tr>
  </thead>
  <tbody>
    {{#each}}
    <tr>
      <td>
        {{from}}
      </td>
      <td>
       <a {{action 'toggleDetails'}}> {{subject}} </a>
     </td>
      <td>
        {{folder.name}}
      </td>
    </tr>
    {{#if detailsShow}}
      <tr>
        <td colspan="2">
          <div class="emailBody">
            <h4>To: {{to}}</h4>
            {{body}}
          </div>
        </td>
      </tr>
    {{/if}}
  {{/each}}
  </tbody>
</table>
