{{name}}

<table class="table">
  <thead>
    <tr>
      <td>
        From:
      </td>
      <td>
        Subject
      </td>
    </tr>
  </thead>
  <tbody>
    {{#each email in emails}}
    <tr>
      <td>
        {{email.from}}
      </td>
      <td>
       <a {{action 'toggleDetails' email.id}}> {{email.subject}} </a>
      </td>
    </tr>
    {{#if detailsShow}}
      <tr>
        <td colspan="2">
          <div class="emailBody">
            <h4>To: {{email.to}}</h4>
            {{email.body}}
          </div>
        </td>
      </tr>
    {{/if}}
  {{/each}}
  </tbody>
</table>
