<form class="newEmail">
  <label> To:
    {{input type="text" class="form-control" value=to placeholder="xyz@abc.com"}}
  </label>
  <label> From:
    {{input type="text" class="form-control" value=from placeholder="me@emailetc.com"}}
  </label>
  <label> Subject:
    {{input type="text" class="form-control" value=subject placeholder="subject"}}
  </label>
  {{textarea class="form-control" value=body placeholder="Message body"}}
  <button class="btn btn-xs btn-success" {{action 'saveEmail'}}>Send</button>
</form>
